In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

df = pd.read_csv('data/student-mat.csv', sep=';')
df['qual_student'] = np.where(df['G3']>=15, 1, 0)
X = df.drop(['qual_student','G3'], axis=1)
y = df['qual_student']

X['schoolsup'] = X['schoolsup'].replace(to_replace=['no','yes'],value=[0,1])
X['famsup'] = X['famsup'].replace(to_replace=['no','yes'],value=[0,1])
X['activities'] = X['activities'].replace(to_replace=['no','yes'],value=[0,1])
X['higher'] = X['higher'].replace(to_replace=['no','yes'],value=[0,1])
X['internet'] = X['internet'].replace(to_replace=['no','yes'],value=[0,1])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [2]:
X_train.describe()

,age,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,activities,higher,internet,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
count,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000
mean,16.728261,2.746377,2.514493,1.427536,2.043478,0.358696,0.134058,0.608696,0.507246,0.952899,0.840580,3.942029,3.224638,3.079710,1.496377,2.315217,3.525362,5.431159,10.923913,10.663043
std,1.299818,1.109048,1.090358,0.696878,0.843107,0.794273,0.341334,0.488929,0.500856,0.212241,0.366733,0.916659,0.998312,1.102471,0.916508,1.295553,1.391954,7.896994,3.405558,3.931996
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,3.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,10.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000

In [3]:
X_train.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2'],
      dtype='object')

In [4]:
include = ['studytime','failures','schoolsup','famsup','activities','freetime',
           'higher','Dalc','Walc','internet','health','absences']
exclude = []
X_train = X_train.drop(columns=X_train.columns.difference(include))
X_train = X_train.drop(columns=exclude)
X_test = X_test.drop(columns=X_test.columns.difference(include))
X_test = X_test.drop(columns=exclude)

X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

In [5]:
X_train.columns

Index(['studytime', 'failures', 'schoolsup', 'famsup', 'activities', 'higher',
       'internet', 'freetime', 'Dalc', 'Walc', 'health', 'absences'],
      dtype='object')

In [14]:
X_train.describe()

,studytime,failures,schoolsup,famsup,activities,higher,internet,freetime,Dalc,Walc,health,absences
count,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000
mean,2.043478,0.358696,0.134058,0.608696,0.507246,0.952899,0.840580,3.224638,1.496377,2.315217,3.525362,5.431159
std,0.843107,0.794273,0.341334,0.488929,0.500856,0.212241,0.366733,0.998312,0.916508,1.295553,1.391954,7.896994
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,3.000000,1.000000,1.000000,3.000000,0.000000
50%,2.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,2.000000,4.000000,4.000000
75%,2.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,4.000000,2.000000,3.000000,5.000000,8.000000
max,4.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,5.000000,5.000000,5.000000,75.000000

In [6]:
print("Missing training data:")
display(X_train.isnull().sum())

Missing training data:

studytime     0
failures      0
schoolsup     0
famsup        0
activities    0
higher        0
internet      0
freetime      0
Dalc          0
Walc          0
health        0
absences      0
dtype: int64

Import scikit-learn and build a random forest classifer

In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import sklearn

clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)

RandomForestClassifier()

In [8]:
pred = clf.predict(X_train)
print(sklearn.metrics.f1_score(y_train, pred, average='binary'))
print(accuracy_score(y_train, pred))

0.9824561403508771
0.9927536231884058

In [29]:
pred = clf.predict(X_test)
print(sklearn.metrics.f1_score(y_test, pred, average='binary'))
print(accuracy_score(y_test, pred))

0.42857142857142855
0.865546218487395

Export this model so we can use it in a microservice (flask api)

In [30]:
import joblib
# modify the file path to where you want to save the model
joblib.dump(clf, './dockerfile/apps/model_new.pkl')

['./dockerfile/apps/model_new.pkl']

In [19]:
query_df = pd.DataFrame({'studytime': pd.Series([4,1]),
                         'failures': pd.Series([1,4]),
                         'schoolsup': pd.Series([1,0]),
                         'famsup': pd.Series([1,0]),
                         'activities': pd.Series([1,0]),
                         'higher': pd.Series([1,0]),
                         'internet': pd.Series([1,1]),
                         'freetime': pd.Series([2,2]),
                         'Dalc': pd.Series([1,3]),
                         'Walc': pd.Series([1,3]),
                         'health': pd.Series([5,2]),
                         'absences': pd.Series([0,50])
                        })
query_df.head()

,studytime,failures,schoolsup,famsup,activities,higher,internet,freetime,Dalc,Walc,health,absences
0,4,1,1,1,1,1,1,2,1,1,5,0
1,1,4,0,0,0,0,1,2,3,3,2,50

In [20]:
pred = clf.predict(query_df)
print(pred)

[0 0]